<nav class="navbar navbar-dark bg-primary">
  <div class="navbar-brand text-center">
    SimpleAG
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-12 col-lg-12">
      <div class="col-md-6 col-lg-6">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Valor Funcão 1</th>
              <th>Valor Função 2</th>
              <th>Fitness</th>
            </tr>
          </thead>
          <tbody *ngFor="let individuo of populacao">
            <tr>
              <td>{{ individuo.varFuncao1 | number:'1.2-2' }}</td>
              <td>{{ individuo.varFuncao2 | number:'1.2-2' }}</td>
              <td>{{ individuo.fitness | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg" (click)="gerarNovaPopulacao()">Gerar Nova População</button>
      </div>
  </div>
</div>